{
  "TEST_USER_EMAIL": "testuser@student.pens.ac.id",
  "TEST_USER_PASSWORD": "your_test_password_here",
  "TEST_DOSEN_EMAIL": "testdosen@pens.ac.id",
  "TEST_DOSEN_PASSWORD": "your_test_password_here",
  "TEST_UMUM_EMAIL": "testumum@gmail.com",
  "TEST_UMUM_PASSWORD": "your_test_password_here",
  "API_URL": "http://localhost:8000"
}
